@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: auto;
  background-color: #fff;
  overflow-x: hidden;
}

/* Hero Section Starts */

#hero {
  width: 100vw;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pre-header {
  display: none;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 73px;
  background: #fff;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.hamburger-container {
  width: 31px;
  height: 27px;
  margin-left: 23px;
  transition: 0.1s;
}

#hamburger-link {
  width: 100%;
  height: 100%;
}

.hamburger {
  width: 100%;
  height: 100%;
}

.hamburger-container:hover {
  transform: scale(1.05);
}

.logo-container {
  width: 130px;
  height: 51px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-link {
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  z-index: 3;
  padding: 30px;
  transition: 0.3s;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#closebtn {
  font-size: 40px;
  color: #8f8f91;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 25px;
  list-style: none;
  margin: 30px 20px;
}

.menu-link {
  color: #868686;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.banner-wrapper {
  width: 100vw;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: url('../images/about-hero.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #f8f8f8 40%, #f8f8f899);
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 19px 0 16px;
  z-index: 2;
}

.banner-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 56px 2%;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9432b;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}

.banner-title span:first-child {
  display: none;
}

.title-underline {
  width: 35px;
  height: 2px;
  background: #a04038;
}

.banner-description-container {
  width: 100%;
  margin-bottom: 25px;
}

.banner-description-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 12px;
  background: #fff;
  width: 100%;
}

.banner-description {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.84px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 287px;
  margin-bottom: 5px;
}

.contact-title {
  color: #7a7a7a;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
}

.contact-link {
  color: #5f5f5f;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

.banner-description:nth-child(1n+2) {
  display: none;
}

/* Hero Section Ends */

/* About Section Starts */

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 227px;
  margin-bottom: 20px;
}

.about-title {
  color: #2c2c2c;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}

.about-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92vw;
  margin-bottom: 35px;
}

.about-description {
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.48px;
}

.about-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 142px;
}

.logo-image {
  width: 100%;
  height: 100%;
}

/* About Section Ends */

/* Past Section Start */

#past-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.past-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 34px 0;
}

.past-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.past-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 287px;
  margin-bottom: 10px;
}

.past-title {
  color: #2c2c2c;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.past-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin-bottom: 35px;
}

.past-description {
  color: #838383;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.36px;
}

.past-conference-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 334px;
  row-gap: 25px;
}

.conference-card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 183px;
  background: url('../images/about-us-01\ \(1\).jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.year {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  z-index: 3;
}

.address {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9432b99;
}

.conference-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 183px;
  background: url('../images/about-us-02\ \(1\).jpg') no-repeat;
  background-size: cover;
  position: relative;
}

/* Past Section Ends */

/* Partner-Section-Starts */

#partner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414246;
  width: 100vw;
}

.partner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 40px;
}

.section-title-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.partner-title {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
}

.partner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
}

.partner-logo:nth-child(1) {
  width: 82px;
  height: 31px;
  margin: 0 0 25px;
}

.partner-logo:nth-child(2) {
  width: 109px;
  height: 31px;
  margin: 0 0 25px;
}

.partner-logo:nth-child(3) {
  width: 82px;
  height: 31px;
  margin: 0 0 25px;
}

.partner-logo:nth-child(4) {
  width: 101px;
  height: 31px;
  margin: 0 0 25px;
}

.partner-logo:nth-child(5) {
  width: 123px;
  height: 31px;
  margin: 0 0 25px;
}

.brand-logo {
  width: 100%;
  height: 100%;
}

/* Partner-Section-Ends */

/* Footer Section Starts */

#footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 27px 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 323px;
}

.footer-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-holder {
  background: url('../images/cck-logo1\ 1.png') no-repeat;
  background-size: contain;
  width: 135px;
  height: 32px;
}

.rights-title {
  color: #3b3e45;
  font-size: 10px;
  font-weight: 700;
  line-height: 13.078px;
  letter-spacing: -0.1px;
}

.rights-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 158px;
}

.rights-description {
  display: none;
}

/* Footer Section Ends */

/* Desktop Style Starts */

@media screen and (min-width: 768px) {
  .pre-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
    width: 100vw;
    height: 30px;
  }

  .pre-header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 72.3vw;
    height: 30px;
  }

  .pre-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    list-style: none;
  }

  .pre-header-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .pre-header-list:nth-child(1) .pre-header-link {
    font-size: 18px;
  }

  .pre-header-list:nth-child(2) .pre-header-link {
    font-size: 18px;
  }

  #main-header {
    justify-content: center;
    width: 100vw;
    height: 75px;
  }

  .main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72.3vw;
    height: 75px;
  }

  .hamburger-container {
    display: none;
  }

  .logo-container {
    position: static;
    -ms-transform: none;
    transform: none;
  }

  #navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 46vw;
    height: 48px;
    position: static;
    padding: 0;
    transition: 0s;
    background-color: #fff;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 48px;
  }

  #closebtn {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 48px;
    column-gap: 2.6vw;
    list-style: none;
    margin: 0;
  }

  .menu-link {
    color: #868686;
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  .menu-link:hover {
    color: #f07f7e;
  }

  .menu-list:last-child {
    border: 5px solid #ec4327;
    padding: 8px 14px;
    text-align: center;
  }

  .menu-list:last-child .menu-link {
    color: #ec4327;
    text-align: center;
  }

  .banner-content {
    width: 65vw;
    margin: 109px 0;
    gap: 35px;
  }

  .banner-title-container {
    width: 583px;
    margin: 0;
  }

  .banner-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f9432b;
    font-weight: 900;
    font-size: 46px;
    text-align: center;
  }

  .banner-title span:first-child {
    display: flex;
    font-weight: 300;
    font-size: 23px;
  }

  .banner-description-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .banner-description-holder {
    background: #fff;
    width: 793px;
  }

  .banner-description:nth-child(1n+2) {
    display: flex;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 641px;
    margin-bottom: 5px;
  }

  .contact-title {
    font-size: 16px;
    letter-spacing: 0.48px;
  }

  .contact-link {
    font-size: 17px;
    letter-spacing: 0.34px;
  }

  /* About Section Starts */

  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-bottom: 2px solid #d9d9d9;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 759px;
    margin: 65px 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-title-container {
    width: 572px;
  }

  .about-title {
    font-size: 30px;
    letter-spacing: -0.9px;
  }

  .about-description-container {
    width: 100%;
  }

  .about-logo {
    width: 542px;
    height: 196px;
  }

  /* About Section Ends */

  /* Past Section Start */

  #past {
    margin: 65px 0;
  }

  .past-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 501px;
    margin-bottom: 20px;
  }

  .past-title {
    font-size: 30px;
    letter-spacing: -0.9px;
    margin-bottom: 20px;
  }

  .past-description-container {
    width: 664px;
  }

  .past-description {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .past-conference-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 25px;
  }

  .conference-card1 {
    width: 432px;
    height: 236px;
  }

  .conference-card2 {
    width: 432px;
    height: 236px;
  }

  .year {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    z-index: 3;
  }

  .address {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    z-index: 3;
  }

  /* Past Section End */

  /* Partner-Section-Starts */
  #partner-section {
    display: none;
  }

  /* Partner-Section-Ends */

  /* Footer Section Starts */

  #footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #2e2e2e;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 74px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    row-gap: 8%;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
  }

  .footer-logo-holder {
    background: url('../images/cck-logo1\ 3.png') no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 98px;
  }

  .rights-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 68%;
  }

  .rights-title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.14px;
    margin-bottom: 25px;
  }

  .rights-description {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.56px;
  }

  /* Footer Section Ends */
}

/* Desktop Style Ends */
